@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css (or any other .css file where you manage your custom styles) */
.bg-custom-background {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
